


div[id="survey"] .modal {
	position:relative;
	display:inline-block;
	width:100%;	
}

div[id="survey"] .modal-dialog {
	
	width:100%;
	margin:auto;
	overflow-y:hidden;
	max-height:50vh;
}

div[id="survey"] .modal-content {
    background-color: #ffffff;
}
div[id="survey"] .modal-header, .modal-footer {

	background-color: #eee;
}

/* The Next Button */
div[id="survey"] .modal-footer button {

	color: black;
    float: right;
	border: none;
    font-size: 28px;
	background-color: transparent
}
div[id="survey"] .modal-footer {
	
	padding-bottom: 0px;
    padding-top: 0px;
}

div[id="survey"] .modal-footer button .glyphicon {
	vertical-align:text-top;
}

/*set progressbar width*/
.col-centered > .progress {
	width: 60%;
	margin: 0px auto;
}
.vjs-fullscreen-control {
	/*display:none !important;*/
}


div[id="survey"] .modal-body{
	overflow-y:auto !important;
}

div[id="survey"] #myModal {
	padding:0px !important;
}

