
div[id="survey_form"] .modal {
	position:relative;
	display:inline-block;
	width:100%;	
}

div[id="survey_form"] .modal-dialog {
	
	width:100%;
	margin:auto;
}

div[id="survey_form"] .modal-content {
	

    background-color: #ffffff;


}
div[id="survey_form"] .modal-header, .modal-footer {

	background-color: #eee;

}

/* The Next Button */
div[id="survey_form"] .modal-footer button {
    /*color: white;*/
	color: black;
    float: right;
	border: none;
    font-size: 28px;
	background-color: transparent
}

div[id="survey_form"] .modal-footer button .glyphicon {
	vertical-align:text-top;
}