
/*datepicker coloring*/
.datepicker table tr th[class="dow"]:nth-child(1),.datepicker table tr td:nth-child(1)[class="day"]{
	color:red;
}

.datepicker table tr th[class="dow"]:nth-child(7),.datepicker table tr td:nth-child(7)[class="day"]{
	color:blue;
}

/*set font*/
form[name="signup"] label {
	font-weight:normal;
	margin:0 auto;
}
/*responsive width*/
form[name="signup"] input[type="text"],form[name="signup"] input[type="password"] {
	width: 100% !important;
}
/*select button color*/
form[name="signup"] .btn-default.active {
	background-color: #F0F0F0; !important;
}

/*responsive margin*/
@media screen and (max-width: 768px) {
	form[name="signup"] div[class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-centered"] {
		margin-bottom: 15px;
	}
}
form[name="signup"] button[type="submit"] .glyphicon {
	vertical-align:text-top;
}

form[name="signup"] .form-control[readonly] {
	background-color:#fff;
}