<% provide(:title, 'Sign up') %>
<!--body start-->
<div class="row row-centered">
  <!--signup section-->
	  <div class="col-centered">
	  	<div class="form-group form-inline">
		  <label><a href="/admin/users">회원</a></label>
		</div>
		<div class="form-group form-inline">
		  <label><a href="/admin/filterings">필터링</a></label>
		</div>
		<div class="form-group form-inline">
		  <label>-- 1차 설문 --</label>
		</div>
		<div class="form-group form-inline">
		  <label><a href="/admin/first">1차 설문</a></label>
		</div>
		<div class="form-group form-inline">
		  <label>-- 2차 설문 --</label>
		</div>
		<div class="form-group form-inline">
		  <label><a href="/admin/max">2차 쿼리 개수 설정</a></label>
		</div>
		<div class="form-group form-inline">
		  <label><a href="/admin/first_query">1차 쿼리</a></label>
		</div>
		<div class="form-group form-inline">
		  <label><a href="/admin/first_query_tag">1차 쿼리 태그리스트</a></label>
		</div>
		<div class="form-group form-inline">
		  <label><a href="/admin/first_query_survey">1차 쿼리 설문</a></label>
		</div>
		<div class="form-group form-inline">
		  <label><a href="/admin/second_query">2차 쿼리</a></label>
		</div>
		<div class="form-group form-inline">
		  <label><a href="/admin/second_query_tag">2차 쿼리 태그리스트</a></label>
		</div>
		<div class="form-group form-inline">
		  <label><a href="/admin/second_query_survey">2차 쿼리 설문</a></label>
		</div>
	  </div>
</div>

