<br>
<<<<<<< HEAD
	      	<br>
			<p><label>설문 조사 관련: </label></p>
			<p><label>임수진 연구원 / 010-9246-0731 / <a href="mailto:imsujin91@k-cia.or.kr">imsujin91@k-cia.or.kr</a></label></p>
			<br>
			<br>
			<p><label>웹 페이지 관련:</label></p>
			<p><label>강영주 연구원 / 010-5491-7795 / <a href="mailto:youngzootopia@k-cia.or.kr">youngzootopia@k-cia.or.kr</a></label></p>
			<p><label>배진수 연구원 / 010-2934-8409 / <a href="mailto:jsbae@k-cia.or.kr">jsbae@k-cia.or.kr</a></label></p>
=======
<br>
<p><label>설문 조사 관련: </label></p>
<p><label>임수진 연구원 / 010-9246-0731 / <a href="mailto:imsujin91@k-cia.or.kr">imsujin91@k-cia.or.kr</a></label></p>
<br>
<br>
<p><label>웹 페이지 관련:</label></p>
<p><label>강영주 연구원 / 010-5491-7795 / <a href="mailto:youngzootopia@k-cia.or.kr">youngzootopia@k-cia.or.kr</a></label></p>
<p><label>배진수 연구원 / 010-2934-8409 / <a href="mailto:jsbae@k-cia.or.kr">jsbae@k-cia.or.kr</a></label></p>
>>>>>>> test
