<% provide(:title, 'Sign up') %>
<!--body start-->
<div class="row row-centered">
  <!--signup section-->
	  <div class="col-xs-12 col-sm-9 col-md-6 col-lg-3 col-centered">
	  	<div class="form-group form-inline">
		  <label>설문 조사 관련 : </label>
		</div>
		<div class="form-group form-inline">
		  <label>임수진 연구원 / 010-9246-0731 / <a href="mailto:imsujin91@k-cia.or.kr">imsujin91@k-cia.or.kr</a></label>
		</div>
		<div class="form-group form-inline">
		  <label> </label>
		</div>
		<div class="form-group form-inline">
		  <label>웹 페이지 관련 :</label>
		</div>
		<div class="form-group form-inline">
		  <label>강영주 연구원 / 010-5491-7795 / <a href="mailto:youngzootopia@k-cia.or.kr">youngzootopia@k-cia.or.kr</a></label>
		</div>
		<div class="form-group form-inline">
		  <label>배진수 연구원 / 010-2934-8409 / <a href="mailto:jsbae@k-cia.or.kr">jsbae@k-cia.or.kr</a></label>
		</div	    
	  </div>
</div>

