<% content_for :head do %>
  <%= stylesheet_link_tag    'custom/video_js/video-js', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'custom/modal', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'custom/jquery.rateyo.min', media: 'all', 'data-turbolinks-track': 'reload' %>

<% end %>

<% provide(:title, 'First survey') %>
<!--body start-->
<div class="row row-centered">
	<!--loading bar-->
	<div class="col-xs-12 col-centered">
		<div class="progress" style="display:none;">
			<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
				동영상을 받아오고 있습니다.
			</div>
		</div>
	</div>
	<!--loading bar end-->
  
	<!--download method select button-->
	<div class="col-xs-12 col-sm-6 col-md-5 col-lg-4 col-centered" id="down_method" style="display:none;">
		<div class="form-inline" style="text-align:center">
			<label style="vertical-align: middle;">동영상이 끊기나요?</label>
			<div class="btn-group" id="method_btn" data-toggle="buttons" style="display:none;">
				<div class="btn-group">
					<label class="btn btn-default" id="touch" >
						<label for="touch">끊겨요</label><input type="radio" value="touch" checked="checked" >
					</label>
				</div>
				<div class="btn-group">
					<label class="btn btn-default active" id="pc" >
						<label for="pc">잘 돼요</label><input type="radio" value="pc">
					</label>									
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix" style="margin-top:3px;"></div>
	<!--download method select button-->
  
	<!--video section-->
	<div class="col-xs-12 col-lg-6 col-centered" id="video_form" style="display:none;">
		<video id="video" class="video-js vjs-default-skin vjs-big-play-centered   vjs-16-9" 
			data-setup='{"autoplay":false,"controls": true,"preload": "auto",
			"inactivityTimeout": 0,"language":"ko","loop": false}'>
		<!--<source src="" type='video/mp4'>-->
		</video>
	</div>
	<!--video section end-->
  
	<!--survey section-->
	<div class="col-xs-12 col-lg-6 col-centered" id="survey_form" >
		<!-- Modal -->
		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header" style="text-align: center;">
						<h4 class="modal-title" >시청한 장면의 감상을 써 주세요!</h4>
						<span id="persent">11</span>
					</div>
					<div class="modal-body">
						<div class="form-inline">
							<label for="rateYo1">선호도:</label>
							<div id="rateYo" style="display:inline-block; margin-left:10px; vertical-align: middle;"></div>
						</div>
						<div class="form-inline">
							<label for="id_reason">선호 사유:</label>
							<textarea class="form-control" rows="5" style="width:100%;"
							id="id_reason" required="true" style="width:100%; display:inline-block;" 
							placeholder="색조, 화질, 영상길이 등 마음에 들거나 그렇지 않은 이유를 써주세요."></textarea>
						</div>						
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" id="next_btn">
							다음
							<span class="glyphicon glyphicon-circle-arrow-right"></span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--survey section end-->
</div>
<!--body end-->

<% content_for :tail do %>
	<%= javascript_include_tag 'custom/video_js/video', 'custom/video_control_2', 'custom/jquery.rateyo.min' %>
	<script>
		var vid_tag_id="video";
		var video_link="0";
		var start_list= [0.0];
		var end_list= [0.1];
		var shot_id_list = [0];
		var cid="0";
		var filename="0";
		var totalShot = 9000;
		var count=0;
	</script>
<% end %>